<div id="main">
    <div class="content">
        <h1 class="content-subhead">Crea un nuovo Conto</h1>
    </div>
<div class="content subhead">
<form class="pure-form pure-form-stacked" action="/conti/new" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="nome_conto">Nome Conto</label>
            <input id="nome_conto" name="nome_conto" type="text" placeholder="Nome Conto" required />
        </div>

        <div class="pure-control-group">
            <label for="tipo_conto">Tipo Conto</label>
            <select name="tipo_conto" style="font-family:'FontAwesome';" id="tipo_conto">
                <option value="banca">&#xf19c; Conto Bancario</option>
                <option value="portafogli">&#xf0d6; Portafogli</option>
                <option value="paypal">&#xf1ed; PayPal</option>
                <option value="cartacredito">&#xf09d; Carta di Credito</option>
            </select>
        </div>

        <div class="pure-control-group">
            <label for="valuta">Valuta</label>
            <input id="text" name="valuta" type="text" placeholder="Valuta" required />
        </div>

        <div class="pure-control-group">
            <label for="l_inizio">Liquidit&agrave; iniziale</label>
            <input id="l_inizio" name="l_inizio" type="text" placeholder="Liquidit&agrave; iniziale" required />
        </div>
        <div class="pure-controls">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2"><p align="center">
            <a href="/conti" class="button-error pure-button"><i class="fa fa-times" aria-hidden="true"></i> Annulla</a></p>
            </div>
        <div class="pure-u-1 pure-u-sm-1-2">
<p align="center">
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-check" aria-hidden="true"></i> Crea</button></p>
        </div>
        </div>
    </div>
    </fieldset>
</form>
</div>
</div>
