<div id="main">
    <div class="content">
        <h2 class="content-subhead">Status Conti</h2>
        <p>
            <%= @message %>
        </p>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-2"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></div>
        <div class="pure-u-1-2"> ... </div>
    </div>
</div>
