<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Welcome to your offline sharing space!" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>Malandrino - Il gestionale per squattrinati!</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/layouts/side-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">Malandrino</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Home</a>
                </li>

                <li class="pure-menu-item">
                    <a href="/conti" class="pure-menu-link">Conti</a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Operazioni</a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Beneficiari</a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Categorie</a>
                </li>
            </ul>
        </div>
    </div>

<!-- Fine menù //-->
<%= yield %>

<!-- qua ci piazzo la roba di yield //-->
</div>





<script src="/js/ui.js"></script>


</body>
</html>
