<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Malandrino, il gestionale per squattrinati" />

    <title>Malandrino - Il gestionale per squattrinati!</title>

    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" type="text/css" href="/css/layouts/side-menu.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" />

    <script src="/js/modernizr-custom.js" type="text/javascript"></script>

	<script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>

            <ul class="pure-menu-list">

                <li class="pure-menu-item">
                    <a href="/conti" class="pure-menu-link"><i class="fa fa-list fa-fw" aria-hidden="true"></i>
 Conti</a>
                </li>

                <li class="pure-menu-item">
                    <a href="/operazioni" class="pure-menu-link"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Operazioni</a>
                </li>

                <li class="pure-menu-item">
                    <a href="/beneficiari" class="pure-menu-link"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Beneficiari</a>
                </li>

                <li class="pure-menu-item">
                    <a href="/categorie" class="pure-menu-link"><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i> Categorie</a>
                </li>
            </ul>
        </div>
    </div>

<!-- Fine menù //-->
<%= yield %>

<!-- qua ci piazzo la roba di yield //-->
</div>




    <script>$(function() {
    // Check if the browser supports the date input type
    if (!Modernizr.inputtypes.date){
        // Add the jQuery UI DatePicker to all
        // input tags that have their type attributes
        // set to 'date'
        $('input[type=date]').datepicker({
            // specify the same format as the spec
            dateFormat: 'yy-mm-dd'
        });
    }
});
</script>
<script src="/js/ui.js" type="text/javascript"></script>


</body>
</html>
